.project-section {
  //   height: 1360px;

  margin-top: 0px;
  margin-bottom: 94px;
  padding-top: 0px;
  padding-block: 0px;
  //   width: 100%;
}

// скрыт
.project-section__title {
  margin-top: 0px;
  margin-bottom: 0px;
}
